{% extends "main.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
  <h1>Welcome to my test site</h1>
  <p>This is a website to test some stuff with Flash, API, CI/CD, etc</p>
  <p>You can find more details on my Github repo</p>
  <p>Here is a list of the different API :
    <ul>
      <li>Checking if an entry it is a Palindrome</li>
      <li>To come</li>
      <li>To come</li>
    </ul>
  </p>
<div class="jumbotron">
  <h3 class="display-8">Palindrome</h1>
  <p class="lead">A simple API to check the value of a string and indicate if it's a palindrome or not.</p>
  <hr class="my-4">
  <p>You use the url <mark>api/ispalindrome/&lt;yourstring&gt;</mark> </p>
  <a class="btn btn-primary btn-lg" href="/api/ispalindrome/Tacocat" role="button">Try by yourself</a>
</div>


</div>

{% endblock %}
